html {
    --color-dark-grey: #4B4D4D;
    --color-cloud-grey: #F7FBFC;
    --color-grey-blue: #7B9DAB;
    --color-blue: #84BAD4;
    --color-green: #B4C9BA;
    --color-orange: #FF6B00;
}

body {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.section-title {
    width: 300px;
    padding: 40px 0 60px 0;
    font-size: 4rem;
    font-weight: 700;
}

section {
    padding: 0 8%;
}

.burger {
    position: fixed;
    z-index: 3;
    top: 20px;
    left: 20px;
    display: none;
    border: 1px solid var(--color-dark-grey);
    background-color: var(--color-grey-blue);
    cursor: pointer;
}

.burger__line {
    margin: 7px;
    width: 35px;
    height: 5px;
    background-color: var(--color-cloud-grey);
}

.header {
    width: 100%;
    height: 96vh;
}

.header__homeImage {
    object-fit: cover;
    position: relative;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    transform: translate(-50%, -60%);
    width: 70%;
    height: 250px;
    padding: 10px;    
    background-color: rgba(75,77,77,0.65) ;
    text-align: center;
    color: var(--color-cloud-grey);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header__title-identity {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto 20px;
    text-align: center;
}

.header__title-identity-line {
    width: 70px;
    height: 7px;
    border: 1px solid var(--color-dark-grey);
    background-color: var(--color-cloud-grey);
}

.header__title-identity-name {
    margin: 0 20px;
    font-size: 4rem;
}

.header__title-job {
    font-size: 3.5rem;
}

.nav {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: rgba(75,77,77,0.9);
}

.nav__list {
    justify-content:space-around;
    display: flex;
    height: 4vh;
    font-size: 1.5rem;
}

.nav__list-entry {
    align-self: center;
}

.nav__list-entry a {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-green);
}

.about-me {
    flex-direction: column;
    display: flex;
    background-color: var(--color-cloud-grey);
}

.about-me__title {
    color: var(--color-dark-grey);
}

.about-me__parts {
    gap: 2rem;
    justify-content: space-between;
    display: flex;
}

.about-me__parts-left {
    gap: 2rem;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-self: center;
    display: flex;
}

.about-me__parts-left-image {
    box-shadow: 10px 10px 20px var(--color-green);
    border-radius: 200px 100px / 200px 100px;
    width: 80%;
    min-width: 400px;
    aspect-ratio: 0.83;
    background-color: red;
}

.about-me__parts-left-quality {
    gap: 5rem;
    justify-content: center;
    display: flex;
    width: 300px;
    font-size: 1.5rem;
    text-align: center;
}

.about-me__parts-left-quality ul:nth-child(1) {
    flex-direction: column;
    display: flex;
}

.about-me__parts-left-quality ul:nth-child(1) li {
    align-self: flex-end;
}

.about-me__parts-left-quality ul:nth-child(2) {
    flex-direction: column;
    display: flex;
}

.about-me__parts-left-quality ul:nth-child(2) li {
    align-self: flex-start;
}

.about-me__parts-right {
    gap: 2rem;
    flex: 1.5;
    flex-direction: column;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
}

.about-me__parts-right-past, .about-me__parts-right-present, .about-me__parts-right-future {
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
}

.about-me__parts-right-past {
    align-self: flex-start;
}

.about-me__parts-right-present {
    align-self: center;
}

.about-me__parts-right-future {
    align-self: flex-end;
}

.about-me__parts-right-past-forms, .about-me__parts-right-present-forms, .about-me__parts-right-future-forms {
    margin: 10px 0;
}

.about-me__parts-right-past-forms {
    position: relative;
    left: 10px;
    margin: 20px 0 0 0;
    border: 5px solid var(--color-dark-grey);
    width: 250px;
}

.about-me__parts-right-past-forms::before {
    content: '';
    position: absolute;
    left: -20px;
    transform: rotate(45deg);
    margin: -20px 0 0 0;
    width: 40px;
    height: 40px;
    background-color:var(--color-dark-grey);
}

.about-me__parts-right-past-forms::after {
    content: '';
    position: absolute;
    right: -50px;
    margin: -5px 0 0 0;
    border: 5px dashed var(--color-dark-grey);
    width: 40px;
}

.about-me__parts-right-present-forms {
    position: relative;
    margin: 20px 0 20px 40px;
    border: 5px solid var(--color-grey-blue);
    width: 13rem;
}

.about-me__parts-right-present-forms::before {
    content: '';
    position: absolute;
    left: 0;
    margin: -5px 0 0 -50px;
    border: 5px dashed var(--color-grey-blue);
    width: 30px;
}

.about-me__parts-right-present-forms::after {
    content: '';
    position: absolute;
    right: -50px;
    margin: -5px 0 0 0;
    border: 5px dashed var(--color-grey-blue);
    width: 30px;
}

.about-me__parts-right-future-forms {
    position: relative;
    margin: 20px 0 0 40px;
    border: 5px solid var(--color-blue);
    width: 15rem;
}

.about-me__parts-right-future-forms::before {
    content: '';
    position: absolute;
    left: 0;
    margin: -5px 0 0 -50px;
    border: 5px dashed var(--color-blue);
    width: 30px;
}

.about-me__parts-right-future-forms::after {
    content: '';
    position: absolute;
    right: -30px;
    transform: rotate(45deg);
    margin: -20px 20px 0 0;
    border-right: 10px solid var(--color-blue);
    border-top: 10px solid var(--color-blue);
    width: 30px;
    height: 30px;
}

.about-me__hobbies {
    align-items: center;
    justify-content: space-between;
    align-self: center;
    display: flex;
    margin: 20px 20px 80px;
    border: 1px var(--color-dark-grey) solid;
    border-radius: 20px;
    font-size: 3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px, rgba(0, 0, 0, 0.15) 0px 2px 2px, rgba(0, 0, 0, 0.15) 0px 4px 4px, rgba(0, 0, 0, 0.15) 0px 8px 8px, rgba(0, 0, 0, 0.15) 0px 16px 16px;
}

.about-me__hobbies-heart {
    position: relative;
    padding: 5px 15px 0px;
    color: var(--color-dark-grey);
}

.about-me__hobbies-heart-legend {
    bottom: -25px;
    left: 5px;
}

.about-me__hobbies-icons {
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    border-radius: 0 16px 16px 0;
    padding: 5px 10px 0px;
    background-color: var(--color-dark-grey);
}

.about-me__hobbies-icons i {
    margin: 10px;
    color: var(--color-cloud-grey);
}

.icon:hover .iconLegend {
    opacity: 1;
}

.icon {
    position: relative;
}

.iconLegend {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
    border: 1px solid var(--color-dark-grey);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color-green);
    font-size: 0.7rem;
    text-align: center;
}

.about-me__hobbies-icons-game-legend {
    bottom: -20px;
    left: -2px;
}

.about-me__hobbies-icons-videoGame-legend {
    bottom: -20px;
    left: -1px;
}

.about-me__hobbies-icons-photo-legend {
    bottom: -15px;
    left: -6px;
}

.about-me__hobbies-icons-writing-legend {
    bottom: -15px;
    left: 10px;
}

.skills {
    flex-direction: column;
    display: flex;
    background-color: var(--color-dark-grey);
}

.skills__title {
    color: var(--color-cloud-grey);
}

.skills__parts {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 80px;
}

.skills__parts-front, .skills__parts-back, .skills__parts-transversal {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px, rgba(0, 0, 0, 0.3) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 4px 4px, rgba(0, 0, 0, 0.3) 0px 8px 8px, rgba(0, 0, 0, 0.3) 0px 16px 16px;
    border-radius: 20px;
}

.skills__parts-front-list, .skills__parts-back-list, .skills__parts-transversal-list {
    border-radius: 0 0 20px 20px;
    width: 330px;
    height: 450px;
    padding-bottom: 10px;
    background-color: var(--color-cloud-grey);
}

.skills__parts h4 {
    border-radius: 20px 20px 0 0;
    padding: 20px;
    background-color: var(--color-blue);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-cloud-grey);
}

.skills__parts h5 {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-grey-blue);
}

.skills__parts li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-blue);
}

.background {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    background-color: var(--color-cloud-grey);
}

.background__title {
    color: var(--color-dark-grey);
}

.background div {
    justify-content: space-between;
    align-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 60px;
}

.background p {
    flex: 1;
    font-size: 1.5rem;
    line-height: 130%;
    font-weight: 600;
    text-align: center;
}

.background figure {
    position: relative;
    flex: 0.8;
    border-radius: 20px;
    width: 100%;
}

.background img {
    box-shadow: 10px 10px 20px var(--color-green);
    border-radius: 20px;
    width: 100%;
}

.background figcaption {
    position: absolute;
    bottom: 2px;
    opacity: 0;
    transition: all 0.5s;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0;
    background-color: rgba(255, 107, 0, 0.7);
    font-size: 1rem;
    text-align: center;
    color: var(--color-cloud-grey);
}

.figure:hover figcaption {
    opacity: 1;
}

.background__chemistry-text, .background__IT-text {
    margin-right: 40px;
}

.background__project p {
    margin-left: 40px;
}

.background__project-text-before {
    display: none;
}

.project {
    padding-bottom: 60px;
    background-color: var(--color-dark-grey);
}

.project__title {
    color: var(--color-cloud-grey);
}

.project__list {
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}

.project__list-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: opacity 0.5s;
    margin: 20px;
    border-radius: 20px;
    width: 30%;
    aspect-ratio: 1.25;
    background-color: var(--color-grey-blue);
}

.project__list-link:hover .project__list-link-image {
    opacity: 30%;
}

.project__list-link:hover .project__list-link-text {
    opacity: 100%;
}

.project__list-link-image {
    position: relative;
    transition: opacity 0.5s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px, rgba(0, 0, 0, 0.3) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 4px 4px, rgba(0, 0, 0, 0.3) 0px 8px 8px, rgba(0, 0, 0, 0.3) 0px 16px 16px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__list-link-text {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
    text-shadow: 1px 1px 2px var(--color-dark-grey);
    color: var(--color-cloud-grey);
}

.project__list-link-text-title {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700;
}

.project__list-link-text-skills {
    font-size: 1.4rem;
    font-weight: 600;
}

.contact {
    padding-bottom: 40px;
    background-color: var(--color-cloud-grey);
}

.contact__title {
    color: var(--color-dark-grey);
}

.contact__parts {
    gap: 1rem;
    justify-content: space-evenly;
    display: flex;
    color: var(--color-dark-grey);
}

.contact__personalInformation {
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 50%;
}

.contact__personalInformation-network {
    justify-content: space-between;
    display: flex;
    margin-bottom: 40px;
}

.contact__personalInformation-network-socials i {
    margin: 0 10px;
    font-size: 80px;
    color: var(--color-dark-grey);
}

.contact__personalInformation-network-CV {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    border-radius: 20px;
    width: 100px;
    aspect-ratio: 1;
    background-color: var(--color-orange);
    font-size: 50px;
    text-decoration: none;
    color: var(--color-cloud-grey);
}

.contact__personalInformation-map {
    border-radius: 20px;
    box-shadow: 10px 10px 20px var(--color-green);
    width: 100%;
    max-width: 800px;
}

.contact__personalInformation-network-CV-text {
    font-size: 30px;
    font-weight: 600;
}

.contact__message-title {
    margin: 0 0 40px 20px;
    border-radius: 20px 20px 0 0;
    font-size: 2rem;
    font-weight: 700;

}

.contact__message-phone {
    margin-bottom: 30px;
}

.contact__message-phone, .contact__message-mail {
    display: flex;
}

.contact__message i {
    margin-right: 10px;
    font-size: 2rem;
}

.contact__message span {
    font-size: 2rem;
}


.footer {
    padding: 10px 0;
    background-color: var(--color-dark-grey);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-cloud-grey);
}

@media only screen and (max-width: 1200px) { 
    .contact__personalInformation {
        width: 100%;
    }

    .contact__parts {
        gap: 4rem;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 900px) { 
    .header__title {
        width: 80%;
    }

    .header__title-identity-name {
        margin: 0;
        font-size: 2rem;
    }

    .header__title-identity-line {
        margin: 10px;
        width: 50px;
        height: 4px;
    }

    .header__title-job {
        font-size: 1.8rem;
    }

    .burger {
        display: block;
    }

    .burger__line:nth-child(1) {
        transition: width 0.5s, transform 0.5s;
    }
    
    .burger__line:nth-child(2) {
        transition: width 0.5s, transform 0.5s;
    }
    
    .burger__line:nth-child(3) {
        transition: width 0.5s, transform 0.5s;
    }
    
    .crossModeBarOne {
        transform: translate(4px, 6px) rotate(45deg);
        width: 18px;
    }
    
    .crossModeBarTwo {
        transform: rotate(-45deg);
    }
    
    .crossModeBarThree {
        transform: translate(16px, -6px) rotate(45deg);
        width: 17px;
    }

    .nav {
        position: fixed;
        z-index: 2;
        transition: height 0.5s;
        width: 100%;
        height: 0;
        background-color: rgba(123, 157, 171, 0.8);
    }

    .nav__list {
        position: relative;
        gap: 1rem;
        top: -120px;
        flex-direction: column;
        transition: top 0.5s;
    }

    .nav__list-entry {
        text-align: center;
    }

    .nav__list-entry a {
        text-shadow: 2px 2px 2px var(--color-dark-grey);
        color: var(--color-cloud-grey);
    }

    .about-me__parts {
        flex-direction: column;
    }

    .about-me__parts-left-image {
        width: 80%;
        min-width: 300px;
        max-width: 450px;
    }

    .background__chemistry, .background__project, .background__IT {
        flex-direction: column;
    }

    .background img {
        width: 100%;
    }

    .background p {
        margin: 0 0 20px;
    }

    .background__project-text-before {
        display: block;
    }

    .background__project-text-after {
        display: none;
    }

    .project__list-link {
        width: 90%;
    }

    .contact__personalInformation-network {
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        display: flex;
        margin-bottom: 40px;
    }

    .contact__message i {
        font-size: 1.3rem;
    }
    
    .contact__message span {
        font-size: 1.3rem;
    }

    .section-title {
        font-size: 3rem;
    }
}
